-- CreateTable
CREATE TABLE "meeting_rooms" (
    "id" BIGSERIAL NOT NULL,
    "room_id" VARCHAR(66) NOT NULL,
    "title" TEXT NOT NULL,
    "hosts" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "seal_policy_id" VARCHAR(66) NOT NULL,
    "status" SMALLINT NOT NULL DEFAULT 1,
    "max_participants" BIGINT NOT NULL,
    "require_approval" BOOLEAN NOT NULL DEFAULT false,
    "participant_count" INTEGER NOT NULL DEFAULT 0,
    "created_at" BIGINT NOT NULL,
    "started_at" BIGINT,
    "ended_at" BIGINT,
    "checkpoint_sequence_number" BIGINT NOT NULL,
    "transaction_digest" VARCHAR(64) NOT NULL,
    "indexed_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "meeting_rooms_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "room_participants" (
    "id" BIGSERIAL NOT NULL,
    "room_id" VARCHAR(66) NOT NULL,
    "participant_address" VARCHAR(66) NOT NULL,
    "role" VARCHAR(20) NOT NULL,
    "admin_cap_id" VARCHAR(66),
    "joined_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "room_participants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "room_metadata" (
    "id" BIGSERIAL NOT NULL,
    "room_id" VARCHAR(66) NOT NULL,
    "dynamic_field_id" VARCHAR(66) NOT NULL,
    "df_version" BIGINT NOT NULL,
    "language" TEXT NOT NULL,
    "timezone" TEXT NOT NULL,
    "recording_blob_id" DECIMAL(78,0),
    "indexed_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "room_metadata_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "primaryWalletAddress" VARCHAR(100),
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Wallet" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "address" VARCHAR(100) NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'sui',
    "status" VARCHAR(32) NOT NULL DEFAULT 'active',
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Wallet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuthNonce" (
    "id" TEXT NOT NULL,
    "walletAddress" VARCHAR(100) NOT NULL,
    "nonce" VARCHAR(255) NOT NULL,
    "expiresAt" TIMESTAMP(6) NOT NULL,
    "consumedAt" TIMESTAMP(6),
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuthNonce_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "walletId" TEXT NOT NULL,
    "jwtId" VARCHAR(255) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'active',
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(6) NOT NULL,
    "lastUsedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ip" VARCHAR(64),
    "ua" VARCHAR(512),
    "encryptedPrivateKey" TEXT,
    "lastPolicyUpdateAt" TIMESTAMP(6),

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RefreshToken" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "tokenHash" VARCHAR(255) NOT NULL,
    "expiresAt" TIMESTAMP(6) NOT NULL,
    "revokedAt" TIMESTAMP(6),
    "rotationCounter" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EphemeralKey" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "publicKey" VARCHAR(256) NOT NULL,
    "encryptedPublicKey" VARCHAR(512),
    "alg" VARCHAR(64) NOT NULL,
    "scope" VARCHAR(512) NOT NULL,
    "issuedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(6) NOT NULL,
    "revokedAt" TIMESTAMP(6),

    CONSTRAINT "EphemeralKey_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DelegatedSignature" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "txTemplateHash" VARCHAR(128) NOT NULL,
    "signature" VARCHAR(1024) NOT NULL,
    "scope" VARCHAR(512) NOT NULL,
    "expiresAt" TIMESTAMP(6) NOT NULL,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DelegatedSignature_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApprovalRequest" (
    "id" TEXT NOT NULL,
    "room_id" VARCHAR(66) NOT NULL,
    "requester_address" VARCHAR(100) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolved_at" TIMESTAMP(6),
    "resolver_address" VARCHAR(100),
    "resolution_tx_digest" VARCHAR(128),

    CONSTRAINT "ApprovalRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "__diesel_schema_migrations" (
    "version" VARCHAR(50) NOT NULL,
    "run_on" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "__diesel_schema_migrations_pkey" PRIMARY KEY ("version")
);

-- CreateTable
CREATE TABLE "watermarks" (
    "pipeline" TEXT NOT NULL,
    "epoch_hi_inclusive" BIGINT NOT NULL,
    "checkpoint_hi_inclusive" BIGINT NOT NULL,
    "tx_hi" BIGINT NOT NULL,
    "timestamp_ms_hi_inclusive" BIGINT NOT NULL,
    "reader_lo" BIGINT NOT NULL,
    "pruner_timestamp" TIMESTAMP(6) NOT NULL,
    "pruner_hi" BIGINT NOT NULL,

    CONSTRAINT "watermarks_pkey" PRIMARY KEY ("pipeline")
);

-- CreateIndex
CREATE UNIQUE INDEX "meeting_rooms_room_id_key" ON "meeting_rooms"("room_id");

-- CreateIndex
CREATE UNIQUE INDEX "meeting_rooms_seal_policy_id_key" ON "meeting_rooms"("seal_policy_id");

-- CreateIndex
CREATE INDEX "idx_meeting_rooms_checkpoint" ON "meeting_rooms"("checkpoint_sequence_number");

-- CreateIndex
CREATE INDEX "idx_meeting_rooms_created_at" ON "meeting_rooms"("created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_meeting_rooms_hosts" ON "meeting_rooms" USING GIN ("hosts");

-- CreateIndex
CREATE INDEX "idx_meeting_rooms_seal_policy_id" ON "meeting_rooms"("seal_policy_id");

-- CreateIndex
CREATE INDEX "idx_meeting_rooms_status" ON "meeting_rooms"("status");

-- CreateIndex
CREATE INDEX "idx_meeting_rooms_status_created" ON "meeting_rooms"("status", "created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_room_participants_address" ON "room_participants"("participant_address");

-- CreateIndex
CREATE INDEX "idx_room_participants_role" ON "room_participants"("room_id", "role");

-- CreateIndex
CREATE INDEX "idx_room_participants_room" ON "room_participants"("room_id");

-- CreateIndex
CREATE INDEX "idx_room_participants_user_rooms" ON "room_participants"("participant_address", "room_id");

-- CreateIndex
CREATE UNIQUE INDEX "room_participants_room_id_participant_address_key" ON "room_participants"("room_id", "participant_address");

-- CreateIndex
CREATE UNIQUE INDEX "room_metadata_room_id_key" ON "room_metadata"("room_id");

-- CreateIndex
CREATE UNIQUE INDEX "room_metadata_dynamic_field_id_key" ON "room_metadata"("dynamic_field_id");

-- CreateIndex
CREATE INDEX "idx_room_metadata_df_id" ON "room_metadata"("dynamic_field_id");

-- CreateIndex
CREATE INDEX "idx_room_metadata_room" ON "room_metadata"("room_id");

-- CreateIndex
CREATE INDEX "User_primaryWalletAddress_idx" ON "User"("primaryWalletAddress");

-- CreateIndex
CREATE UNIQUE INDEX "Wallet_address_key" ON "Wallet"("address");

-- CreateIndex
CREATE INDEX "Wallet_userId_idx" ON "Wallet"("userId");

-- CreateIndex
CREATE INDEX "AuthNonce_walletAddress_idx" ON "AuthNonce"("walletAddress");

-- CreateIndex
CREATE INDEX "AuthNonce_expiresAt_idx" ON "AuthNonce"("expiresAt");

-- CreateIndex
CREATE INDEX "Session_userId_idx" ON "Session"("userId");

-- CreateIndex
CREATE INDEX "Session_walletId_idx" ON "Session"("walletId");

-- CreateIndex
CREATE INDEX "Session_status_idx" ON "Session"("status");

-- CreateIndex
CREATE INDEX "Session_expiresAt_idx" ON "Session"("expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "RefreshToken_sessionId_key" ON "RefreshToken"("sessionId");

-- CreateIndex
CREATE INDEX "RefreshToken_expiresAt_idx" ON "RefreshToken"("expiresAt");

-- CreateIndex
CREATE INDEX "EphemeralKey_sessionId_idx" ON "EphemeralKey"("sessionId");

-- CreateIndex
CREATE INDEX "EphemeralKey_expiresAt_idx" ON "EphemeralKey"("expiresAt");

-- CreateIndex
CREATE INDEX "DelegatedSignature_sessionId_idx" ON "DelegatedSignature"("sessionId");

-- CreateIndex
CREATE INDEX "DelegatedSignature_expiresAt_idx" ON "DelegatedSignature"("expiresAt");

-- CreateIndex
CREATE INDEX "ApprovalRequest_status_idx" ON "ApprovalRequest"("status");

-- CreateIndex
CREATE INDEX "ApprovalRequest_requesterAddress_idx" ON "ApprovalRequest"("requester_address");

-- CreateIndex
CREATE INDEX "ApprovalRequest_roomId_idx" ON "ApprovalRequest"("room_id");

-- AddForeignKey
ALTER TABLE "room_participants" ADD CONSTRAINT "room_participants_room_id_fkey" FOREIGN KEY ("room_id") REFERENCES "meeting_rooms"("room_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "room_metadata" ADD CONSTRAINT "room_metadata_room_id_fkey" FOREIGN KEY ("room_id") REFERENCES "meeting_rooms"("room_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Wallet" ADD CONSTRAINT "Wallet_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_walletId_fkey" FOREIGN KEY ("walletId") REFERENCES "Wallet"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "RefreshToken" ADD CONSTRAINT "RefreshToken_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "Session"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "EphemeralKey" ADD CONSTRAINT "EphemeralKey_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "Session"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DelegatedSignature" ADD CONSTRAINT "DelegatedSignature_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "Session"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ApprovalRequest" ADD CONSTRAINT "ApprovalRequest_room_id_fkey" FOREIGN KEY ("room_id") REFERENCES "meeting_rooms"("room_id") ON DELETE CASCADE ON UPDATE NO ACTION;

